<manifest package="sk.backbone.parent"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />

    <queries>
        <intent>
            <action android:name="android.intent.action.ACTION_OPEN_DOCUMENT" />
            <data android:mimeType="image/*"/>
        </intent>
    </queries>

    <application>
        <provider
            android:name=".application.ParentFileProvider"
            android:authorities="${applicationId}.parentFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".ui.screens.CameraActivity" android:screenOrientation="nosensor" android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>
    </application>
</manifest>